Oetools.Serialization/Resources/Xsd/BuildConfiguration.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="BuildConfiguration" nillable="true" type="XmlOeBuildConfiguration" />
  <xs:complexType name="XmlOeBuildConfiguration">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="OutputDirectory" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="ReportFilePath" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="BuildHistoryOutputFilePath" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="BuildHistoryInputFilePath" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="CompilationOptions" type="XmlOeCompilationOptions" />
      <xs:element minOccurs="0" maxOccurs="1" name="BuildOptions" type="XmlOeBuildOptions" />
      <xs:element minOccurs="0" maxOccurs="1" name="SourcePathFilters" type="ArrayOfXmlOeSourceFilter" />
      <xs:element minOccurs="0" maxOccurs="1" name="TaskVariables" type="ArrayOfXmlOeTaskVariable" />
      <xs:element minOccurs="0" maxOccurs="1" name="SourceCompilationTasks" type="ArrayOfChoice1" />
      <xs:element minOccurs="0" maxOccurs="1" name="SourceFilesTasks" type="ArrayOfChoice2" />
      <xs:element minOccurs="0" maxOccurs="1" name="OutputDeploymentTasks" type="ArrayOfXmlOeDeploymentStep" />
    </xs:sequence>
    <xs:attribute name="Name" type="xs:string" />
  </xs:complexType>
  <xs:complexType name="XmlOeCompilationOptions">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="CompileWithDebugList" type="xs:boolean" />
      <xs:element minOccurs="1" maxOccurs="1" name="CompileWithXref" type="xs:boolean" />
      <xs:element minOccurs="1" maxOccurs="1" name="CompileWithListing" type="xs:boolean" />
      <xs:element minOccurs="1" maxOccurs="1" name="CompileUseXmlXref" type="xs:boolean" />
      <xs:element minOccurs="1" maxOccurs="1" name="CompileForceUsageOfTemporaryDirectory" type="xs:boolean" />
      <xs:element minOccurs="0" maxOccurs="1" name="CompilableFilePattern" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" name="CompileForceSingleProcess" type="xs:boolean" />
      <xs:element minOccurs="1" maxOccurs="1" name="CompileNumberProcessPerCore" type="xs:unsignedByte" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="XmlOeBuildOptions">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="ArchivesCompressionLevel" type="XmlOeCompressionLevel" />
      <xs:element minOccurs="1" maxOccurs="1" name="StoreSourceMd5" type="xs:boolean" />
      <xs:element minOccurs="1" maxOccurs="1" name="CreatePackageInTempDir" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="XmlOeCompressionLevel">
    <xs:restriction base="xs:string">
      <xs:enumeration value="None" />
      <xs:enumeration value="Max" />
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="ArrayOfXmlOeSourceFilter">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Filter" nillable="true" type="XmlOeSourceFilter" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="XmlOeSourceFilter">
    <xs:attribute name="Exclude" type="xs:string" />
  </xs:complexType>
  <xs:complexType name="ArrayOfXmlOeTaskVariable">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Variable" nillable="true" type="XmlOeTaskVariable" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="XmlOeTaskVariable">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute name="Name" type="xs:string" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="ArrayOfChoice1">
    <xs:choice minOccurs="0" maxOccurs="unbounded">
      <xs:element minOccurs="1" maxOccurs="1" name="Execute" nillable="true" type="XmlOeTaskExec" />
      <xs:element minOccurs="1" maxOccurs="1" name="CompileInCab" nillable="true" type="XmlOeTaskCab" />
      <xs:element minOccurs="1" maxOccurs="1" name="CompileInZip" nillable="true" type="XmlOeTaskZip" />
      <xs:element minOccurs="1" maxOccurs="1" name="CompileUploadFtp" nillable="true" type="XmlOeTaskFtp" />
      <xs:element minOccurs="1" maxOccurs="1" name="Compile" nillable="true" type="XmlOeTaskCopy" />
      <xs:element minOccurs="1" maxOccurs="1" name="CompileInProlib" nillable="true" type="XmlOeTaskProlib" />
    </xs:choice>
  </xs:complexType>
  <xs:complexType name="XmlOeTaskExec">
    <xs:complexContent mixed="false">
      <xs:extension base="XmlOeTask">
        <xs:attribute name="ExecuablePath" type="xs:string" />
        <xs:attribute name="Parameters" type="xs:string" />
        <xs:attribute name="HiddenExecution" type="xs:boolean" use="required" />
        <xs:attribute name="IgnoreExitCode" type="xs:boolean" use="required" />
        <xs:attribute name="WorkingDirectory" type="xs:string" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="XmlOeTask" abstract="true" />
  <xs:complexType name="XmlOeTaskWebclient">
    <xs:complexContent mixed="false">
      <xs:extension base="XmlOeTask">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="1" name="VendorName" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="ApplicationName" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="ApplicationVersion" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="StartupParameters" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="LocatorUrl" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="WebClientVersion" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="WebclientRootDirectoryPath" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="WebclientOutputDirectory" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="ProwcappTemplateFilePath" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="Components" type="ArrayOfString" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="ArrayOfString">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Component" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="XmlOeTaskOnFile" abstract="true">
    <xs:complexContent mixed="false">
      <xs:extension base="XmlOeTask">
        <xs:attribute name="Include" type="xs:string" />
        <xs:attribute name="Exclude" type="xs:string" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="XmlOeTaskDeleteInProlib">
    <xs:complexContent mixed="false">
      <xs:extension base="XmlOeTaskOnFile">
        <xs:attribute name="RelativeFilePatternToDelete" type="xs:string" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="XmlOeTaskDelete">
    <xs:complexContent mixed="false">
      <xs:extension base="XmlOeTaskOnFile" />
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="XmlOeTaskRemoveDir">
    <xs:complexContent mixed="false">
      <xs:extension base="XmlOeTaskOnFile" />
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="XmlOeTaskOnFileWithTarget" abstract="true">
    <xs:complexContent mixed="false">
      <xs:extension base="XmlOeTaskOnFile">
        <xs:attribute name="Target" type="xs:string" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="XmlOeTaskMove">
    <xs:complexContent mixed="false">
      <xs:extension base="XmlOeTaskOnFileWithTarget" />
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="XmlOeTaskFtp">
    <xs:complexContent mixed="false">
      <xs:extension base="XmlOeTaskOnFileWithTarget" />
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="XmlOeTaskCab">
    <xs:complexContent mixed="false">
      <xs:extension base="XmlOeTaskOnFileWithTarget" />
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="XmlOeTaskZip">
    <xs:complexContent mixed="false">
      <xs:extension base="XmlOeTaskOnFileWithTarget" />
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="XmlOeTaskProlib">
    <xs:complexContent mixed="false">
      <xs:extension base="XmlOeTaskOnFileWithTarget" />
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="XmlOeTaskCopy">
    <xs:complexContent mixed="false">
      <xs:extension base="XmlOeTaskOnFileWithTarget" />
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="ArrayOfChoice2">
    <xs:choice minOccurs="0" maxOccurs="unbounded">
      <xs:element minOccurs="1" maxOccurs="1" name="Copy" nillable="true" type="XmlOeTaskCopy" />
      <xs:element minOccurs="1" maxOccurs="1" name="Prolib" nillable="true" type="XmlOeTaskProlib" />
      <xs:element minOccurs="1" maxOccurs="1" name="UploadFtp" nillable="true" type="XmlOeTaskFtp" />
      <xs:element minOccurs="1" maxOccurs="1" name="Execute" nillable="true" type="XmlOeTaskExec" />
      <xs:element minOccurs="1" maxOccurs="1" name="Zip" nillable="true" type="XmlOeTaskZip" />
      <xs:element minOccurs="1" maxOccurs="1" name="Cab" nillable="true" type="XmlOeTaskCab" />
    </xs:choice>
  </xs:complexType>
  <xs:complexType name="ArrayOfXmlOeDeploymentStep">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Step" nillable="true" type="XmlOeDeploymentStep" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="XmlOeDeploymentStep">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="OutputDeploymentTasks" type="ArrayOfChoice3" />
    </xs:sequence>
    <xs:attribute name="Label" type="xs:string" />
  </xs:complexType>
  <xs:complexType name="ArrayOfChoice3">
    <xs:choice minOccurs="0" maxOccurs="unbounded">
      <xs:element minOccurs="1" maxOccurs="1" name="Copy" nillable="true" type="XmlOeTaskCopy" />
      <xs:element minOccurs="1" maxOccurs="1" name="Prolib" nillable="true" type="XmlOeTaskProlib" />
      <xs:element minOccurs="1" maxOccurs="1" name="Move" nillable="true" type="XmlOeTaskMove" />
      <xs:element minOccurs="1" maxOccurs="1" name="Webclient" nillable="true" type="XmlOeTaskWebclient" />
      <xs:element minOccurs="1" maxOccurs="1" name="Execute" nillable="true" type="XmlOeTaskExec" />
      <xs:element minOccurs="1" maxOccurs="1" name="DeleteInProlib" nillable="true" type="XmlOeTaskDeleteInProlib" />
      <xs:element minOccurs="1" maxOccurs="1" name="UploadFtp" nillable="true" type="XmlOeTaskFtp" />
      <xs:element minOccurs="1" maxOccurs="1" name="Zip" nillable="true" type="XmlOeTaskZip" />
      <xs:element minOccurs="1" maxOccurs="1" name="RemoveDir" nillable="true" type="XmlOeTaskRemoveDir" />
      <xs:element minOccurs="1" maxOccurs="1" name="Delete" nillable="true" type="XmlOeTaskDelete" />
      <xs:element minOccurs="1" maxOccurs="1" name="Cab" nillable="true" type="XmlOeTaskCab" />
    </xs:choice>
  </xs:complexType>
</xs:schema>