docs/XmlOeProject.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Project" nillable="true" type="XmlOeProject" />
  <xs:complexType name="XmlOeProject">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="Properties" type="XmlOeProjectConfiguration" />
      <xs:element minOccurs="0" maxOccurs="1" name="WebclientProperties" type="XmlOeProjectWebclientConfiguration" />
      <xs:element minOccurs="0" maxOccurs="1" name="BuildConfigurations" type="ArrayOfXmlOeBuildConfiguration" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="XmlOeProjectConfiguration">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="DatabaseDataDefinitionFiles" type="ArrayOfString" />
      <xs:element minOccurs="0" maxOccurs="1" name="DatabaseConnectionExtraParameters" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="DatabaseAliases" type="ArrayOfXmlOeDatabaseAlias" />
      <xs:element minOccurs="0" maxOccurs="1" name="IniFilePath" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" name="AddAllSourceDirectoriesToPropath" type="xs:boolean" />
      <xs:element minOccurs="0" maxOccurs="1" name="PropathEntries" type="ArrayOfString1" />
      <xs:element minOccurs="0" maxOccurs="1" name="PropathFilter" type="ArrayOfString2" />
      <xs:element minOccurs="0" maxOccurs="1" name="DlcDirectoryPath" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" name="UseCharacterModeExecutable" type="xs:boolean" />
      <xs:element minOccurs="1" maxOccurs="1" name="NeverUseBatchModeOption" type="xs:boolean" />
      <xs:element minOccurs="0" maxOccurs="1" name="ProgresCommandLineExtraParameters" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="ProcedurePathToExecuteBeforeAnyProgressExecution" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="ProcedurePathToExecuteAfterAnyProgressExecution" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="TemporaryDirectory" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ArrayOfString">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DfPath" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ArrayOfXmlOeDatabaseAlias">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Alias" nillable="true" type="XmlOeDatabaseAlias" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="XmlOeDatabaseAlias">
    <xs:attribute name="ProgresCommandLineExtraParameters" type="xs:string" />
    <xs:attribute name="PreProgresExecutionProgramPath" type="xs:string" />
  </xs:complexType>
  <xs:complexType name="ArrayOfString1">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Path" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ArrayOfString2">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Regex" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="XmlOeProjectWebclientConfiguration">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="VendorName" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="ApplicationName" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="StartupParameters" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="LocatorUrl" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="WebClientVersion" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="WebclientRootDirectoryPath" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="WebclientOutputDirectory" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="ProwcappTemplateFilePath" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ArrayOfXmlOeBuildConfiguration">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Build" nillable="true" type="XmlOeBuildConfiguration" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="XmlOeBuildConfiguration">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="OutputDirectory" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="TaskVariables" type="ArrayOfXmlOeTaskVariables" />
      <xs:element minOccurs="0" maxOccurs="1" name="SourceCompilationTasks" type="ArrayOfChoice1" />
      <xs:element minOccurs="0" maxOccurs="1" name="SourceFilesTasks" type="ArrayOfChoice2" />
      <xs:element minOccurs="0" maxOccurs="1" name="OutputDeploymentTasks" type="ArrayOfXmlOeDeploymentStep" />
      <xs:element minOccurs="0" maxOccurs="1" name="BuildTasksFilePath" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="CompilationOptions" type="XmlOeCompilation" />
      <xs:element minOccurs="0" maxOccurs="1" name="XmlOeBuildOptions" type="XmlOeBuildOption" />
    </xs:sequence>
    <xs:attribute name="Name" type="xs:string" />
  </xs:complexType>
  <xs:complexType name="ArrayOfXmlOeTaskVariables">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Variable" nillable="true" type="XmlOeTaskVariables" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="XmlOeTaskVariables">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute name="Name" type="xs:string" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="ArrayOfChoice1">
    <xs:choice minOccurs="0" maxOccurs="unbounded">
      <xs:element minOccurs="1" maxOccurs="1" name="Prolib" nillable="true" type="XmlOeTaskProlib" />
      <xs:element minOccurs="1" maxOccurs="1" name="UploadFtp" nillable="true" type="XmlOeTaskFtp" />
      <xs:element minOccurs="1" maxOccurs="1" name="Execute" nillable="true" type="XmlOeTaskExec" />
      <xs:element minOccurs="1" maxOccurs="1" name="Zip" nillable="true" type="XmlOeTaskZip" />
      <xs:element minOccurs="1" maxOccurs="1" name="Cab" nillable="true" type="XmlOeTaskCab" />
      <xs:element minOccurs="1" maxOccurs="1" name="Compile" nillable="true" type="XmlOeTaskCompile" />
    </xs:choice>
  </xs:complexType>
  <xs:complexType name="XmlOeTaskProlib">
    <xs:complexContent mixed="false">
      <xs:extension base="XmlOeTaskIncludeExclude">
        <xs:attribute name="ProlibTarget" type="xs:string" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="XmlOeTaskIncludeExclude" abstract="true">
    <xs:complexContent mixed="false">
      <xs:extension base="XmlOeTask">
        <xs:attribute name="Include" type="xs:string" />
        <xs:attribute name="Exclude" type="xs:string" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="XmlOeTask" abstract="true" />
  <xs:complexType name="XmlOeTaskExec">
    <xs:complexContent mixed="false">
      <xs:extension base="XmlOeTask">
        <xs:attribute name="ExecuablePath" type="xs:string" />
        <xs:attribute name="Parameters" type="xs:string" />
        <xs:attribute name="HiddenExecution" type="xs:boolean" use="required" />
        <xs:attribute name="IgnoreExitCode" type="xs:boolean" use="required" />
        <xs:attribute name="WorkingDirectory" type="xs:string" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="XmlOeTaskDeleteInProlib">
    <xs:complexContent mixed="false">
      <xs:extension base="XmlOeTaskIncludeExclude">
        <xs:attribute name="RelativeFilePatternToDelete" type="xs:string" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="XmlOeTaskDelete">
    <xs:complexContent mixed="false">
      <xs:extension base="XmlOeTaskIncludeExclude" />
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="XmlOeTaskRemoveDir">
    <xs:complexContent mixed="false">
      <xs:extension base="XmlOeTaskIncludeExclude" />
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="XmlOeTaskFtp">
    <xs:complexContent mixed="false">
      <xs:extension base="XmlOeTaskIncludeExclude">
        <xs:attribute name="ZipTarget" type="xs:string" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="XmlOeTaskCab">
    <xs:complexContent mixed="false">
      <xs:extension base="XmlOeTaskIncludeExclude">
        <xs:attribute name="ZipTarget" type="xs:string" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="XmlOeTaskZip">
    <xs:complexContent mixed="false">
      <xs:extension base="XmlOeTaskIncludeExclude">
        <xs:attribute name="ZipTarget" type="xs:string" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="XmlOeTaskIncludeExcludeTarget" abstract="true">
    <xs:complexContent mixed="false">
      <xs:extension base="XmlOeTaskIncludeExclude">
        <xs:attribute name="Target" type="xs:string" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="XmlOeTaskMoveDir">
    <xs:complexContent mixed="false">
      <xs:extension base="XmlOeTaskIncludeExcludeTarget" />
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="XmlOeTaskMove">
    <xs:complexContent mixed="false">
      <xs:extension base="XmlOeTaskIncludeExcludeTarget" />
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="XmlOeTaskCopyDir">
    <xs:complexContent mixed="false">
      <xs:extension base="XmlOeTaskIncludeExcludeTarget" />
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="XmlOeTaskCopy">
    <xs:complexContent mixed="false">
      <xs:extension base="XmlOeTaskIncludeExcludeTarget" />
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="XmlOeTaskCompile">
    <xs:complexContent mixed="false">
      <xs:extension base="XmlOeTaskIncludeExcludeTarget" />
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="ArrayOfChoice2">
    <xs:choice minOccurs="0" maxOccurs="unbounded">
      <xs:element minOccurs="1" maxOccurs="1" name="Copy" nillable="true" type="XmlOeTaskCopy" />
      <xs:element minOccurs="1" maxOccurs="1" name="Prolib" nillable="true" type="XmlOeTaskProlib" />
      <xs:element minOccurs="1" maxOccurs="1" name="UploadFtp" nillable="true" type="XmlOeTaskFtp" />
      <xs:element minOccurs="1" maxOccurs="1" name="Execute" nillable="true" type="XmlOeTaskExec" />
      <xs:element minOccurs="1" maxOccurs="1" name="Zip" nillable="true" type="XmlOeTaskZip" />
      <xs:element minOccurs="1" maxOccurs="1" name="CopyDir" nillable="true" type="XmlOeTaskCopyDir" />
      <xs:element minOccurs="1" maxOccurs="1" name="Cab" nillable="true" type="XmlOeTaskCab" />
    </xs:choice>
  </xs:complexType>
  <xs:complexType name="ArrayOfXmlOeDeploymentStep">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Step" nillable="true" type="XmlOeDeploymentStep" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="XmlOeDeploymentStep">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="OutputDeploymentTasks" type="ArrayOfChoice3" />
    </xs:sequence>
    <xs:attribute name="Label" type="xs:string" />
  </xs:complexType>
  <xs:complexType name="ArrayOfChoice3">
    <xs:choice minOccurs="0" maxOccurs="unbounded">
      <xs:element minOccurs="1" maxOccurs="1" name="Copy" nillable="true" type="XmlOeTaskCopy" />
      <xs:element minOccurs="1" maxOccurs="1" name="RemoveDir" nillable="true" type="XmlOeTaskRemoveDir" />
      <xs:element minOccurs="1" maxOccurs="1" name="Move" nillable="true" type="XmlOeTaskMove" />
      <xs:element minOccurs="1" maxOccurs="1" name="DeleteInProlib" nillable="true" type="XmlOeTaskDeleteInProlib" />
      <xs:element minOccurs="1" maxOccurs="1" name="Execute" nillable="true" type="XmlOeTaskExec" />
      <xs:element minOccurs="1" maxOccurs="1" name="MoveDir" nillable="true" type="XmlOeTaskMoveDir" />
      <xs:element minOccurs="1" maxOccurs="1" name="UploadFtp" nillable="true" type="XmlOeTaskFtp" />
      <xs:element minOccurs="1" maxOccurs="1" name="Zip" nillable="true" type="XmlOeTaskZip" />
      <xs:element minOccurs="1" maxOccurs="1" name="CopyDir" nillable="true" type="XmlOeTaskCopyDir" />
      <xs:element minOccurs="1" maxOccurs="1" name="Delete" nillable="true" type="XmlOeTaskDelete" />
      <xs:element minOccurs="1" maxOccurs="1" name="Prolib" nillable="true" type="XmlOeTaskProlib" />
      <xs:element minOccurs="1" maxOccurs="1" name="Cab" nillable="true" type="XmlOeTaskCab" />
    </xs:choice>
  </xs:complexType>
  <xs:complexType name="XmlOeCompilation">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="CompileWithDebugList" type="xs:boolean" />
      <xs:element minOccurs="1" maxOccurs="1" name="CompileWithXref" type="xs:boolean" />
      <xs:element minOccurs="1" maxOccurs="1" name="CompileWithListing" type="xs:boolean" />
      <xs:element minOccurs="1" maxOccurs="1" name="CompileUseXmlXref" type="xs:boolean" />
      <xs:element minOccurs="1" maxOccurs="1" name="CompileForceUsageOfTemporaryDirectory" type="xs:boolean" />
      <xs:element minOccurs="0" maxOccurs="1" name="CompilableFilePattern" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" name="CompileForceSingleProcess" type="xs:boolean" />
      <xs:element minOccurs="1" maxOccurs="1" name="CompileNumberProcessPerCore" type="xs:unsignedByte" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="XmlOeBuildOption">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="ArchivesCompressionLevel" type="XmlOeCompressionLevel" />
      <xs:element minOccurs="0" maxOccurs="1" name="BuildHookFilePath" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" name="StoreSourceMd5" type="xs:boolean" />
      <xs:element minOccurs="1" maxOccurs="1" name="CreatePackageInTempDir" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="XmlOeCompressionLevel">
    <xs:restriction base="xs:string">
      <xs:enumeration value="None" />
      <xs:enumeration value="Max" />
    </xs:restriction>
  </xs:simpleType>
</xs:schema>